.widget_display_replies {
  ul {
    @include snow-monkey-bbpress-support-widget-list-base();
  }

  li {
    color: _var-lighter-color-text();
    @include _font-size-line-height($_base-font-size-px - 4);

    .bbp-reply-topic-title {
      @include snow-monkey-bbpress-support-widget-link-base();
      display: block;
      @include _font-size-line-height($_base-font-size-px - 2);
    }

    .bbp-author-name {
      color: _var-lighter-color-text();
    }

    > div {
      display: inline-block;
    }
  }
}
