@use '../../../node_modules/sass-basis/src/css/core';
@use '../mixin/widget-list-base' as *;

.widget_display_topics {
	ul {
		@include snow-monkey-bbpress-support-widget-list-base();
	}

	li {
		color: var(--wp--preset--color--sm-text);
		@include core.set-font-size-level(-2);

		.bbp-forum-title {
			display: block;
			@include core.set-font-size-level(-1);
			@include snow-monkey-bbpress-support-widget-link-base();
		}

		.bbp-author-link {
			color: var(--wp--preset--color--sm-text);
			text-decoration: none;

			@include core.hover() {
				text-decoration: underline;
			}
		}

		.bbp-author-name {
			color: var(--wp--preset--color--sm-text);
		}

		> div {
			margin-left: .5em;
			display: inline-block;
		}
	}
}
