.widget_display_topics {
  ul {
    @include snow-monkey-bbpress-support-widget-list-base();
  }

  li {
    color: _var-lighter-color-text();
    @include _font-size-line-height($_base-font-size-px - 4);

    .bbp-forum-title {
      @include snow-monkey-bbpress-support-widget-link-base();
      display: block;
      @include _font-size-line-height($_base-font-size-px - 2);
    }

    .bbp-author-link {
      color: _var-lighter-color-text();
      text-decoration: none;

      @include _hover() {
        text-decoration: underline;
      }
    }

    .bbp-author-name {
      color: _var-lighter-color-text();
    }

    > div {
      margin-left: .5em;
      display: inline-block;
    }
  }
}
