.bbp-topics,
.bbp-forums,
.bbp-replies,
.bbp-search-results {
	@include _list-unstyled();
	border-right: 1px solid var(--wp--preset--color--sm-lighter-gray);
	border-left: 1px solid var(--wp--preset--color--sm-lighter-gray);
}

.bbp-header,
.bbp-footer {
	@include _list-unstyled();
	@include _row();
	align-items: center;
	background-color: var(--wp--preset--color--sm-lightest-gray);
	border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
	border-bottom: 1px solid var(--wp--preset--color--sm-lighter-gray);
	@include _set-font-size-level(-2);

	> :not(.forum-titles) {
		flex: 1 1 0%;
		max-width: 100%;
	}

	.forum-titles {
		flex: 1 1 auto;
	}
}

.forum-titles {
	@include _list-unstyled();
	@include _row();
	align-items: center;

	> * {
		flex: 1 1 0%;
		max-width: 100%;
	}
}
