@use '../../../node_modules/sass-basis/src/css/core';

.bbp-topics,
.bbp-forums,
.bbp-replies,
.bbp-search-results {
	@include core.list-unstyled();
	border-right: 1px solid var(--wp--preset--color--sm-lighter-gray);
	border-left: 1px solid var(--wp--preset--color--sm-lighter-gray);
}

.bbp-forums,
.bbp-topics,
.bbp-replies,
.bbp-search-results {
	> .bbp-header,
	> .bbp-footer,
	[class*=loop-item-] {
		padding-right: var(--_padding-1);
		padding-left: var(--_padding-1);

		@include core.media-min(md) {
			padding-right: var(--_padding1);
			padding-left: var(--_padding1);
		}
	}

	> .bbp-header,
	> .bbp-footer {
		padding-top: var(--_padding-2);
		padding-bottom: var(--_padding-2);
	}

	[class*=loop-item-] {
		padding-top: var(--_padding-1);
		padding-bottom: var(--_padding-1);

		@include core.media-min(md) {
			padding-top: var(--_padding1);
			padding-bottom: var(--_padding1);
		}
	}
}

.bbp-forum-header,
.bbp-topic-header,
.bbp-reply-header {
	padding: var(--_padding-2) var(--_padding-1);

	@include core.media-min(md) {
		padding-right: var(--_padding1);
		padding-left: var(--_padding1);
	}
}

.bbp-header,
.bbp-footer {
	display: flex;
	gap: var(--_margin1);
	list-style: none;
	align-items: center;
	background-color: var(--wp--preset--color--sm-lightest-gray);
	border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
	border-bottom: 1px solid var(--wp--preset--color--sm-lighter-gray);
	@include core.set-font-size-level(-2);

	> * {
		flex: 1;
		min-width: 0;
	}
}

.bbp-forums,
.bbp-topics {
	> .bbp-header,
	> .bbp-body,
	> .bbp-footer {
		> * > :first-child {
			flex: 1 1 61%;
		}

		> * > :not(:first-child) {
			flex: 0 0 13%;

			@include core.media-max(sm) {
				display: none;
			}
		}
	}
}

.bbp-replies,
.bbp-search-results {
	.bbp-header,
	[class*=loop-item-],
	.bbp-footer {
		> :first-child:not(.bbp-topic-permalink) {
			flex: 0 0 100px;
		}

		> :not(:first-child),
		> .bbp-forum-content {
			flex: 1;
		}
	}
}

.forum-titles,
[class*=loop-item-] {
	display: flex;
	flex-direction: column;
	gap: var(--_margin1);
	list-style: none;
	padding-left: 0;

	@include core.media-min(md) {
		flex-direction: row;
	}

	> * {
		margin: 0;
		padding: 0;
		min-width: 0;
	}
}
