@mixin snow-monkey-bbpress-support-btn() {
	@include _btn();
	@include _form-control-base-border();
	@include _form-control-base-padding();
	background-color: var(--wp--preset--color--white);
	color: var(--wp--preset--color--sm-text);
	text-decoration: none;
}
