@use '../../../node_modules/sass-basis/src/css/core';

/**
 * Unstyled list base style
 */
@mixin snow-monkey-bbpress-support-widget-list-base() {
	@include core.list-unstyled();

	> li + li {
		margin-top: var(--_margin-2);
	}
}

/**
 * Text link base style
 */
@mixin snow-monkey-bbpress-support-widget-link-base() {
	color: var(--wp--preset--color--sm-text);
	text-decoration: none;

	@include core.hover() {
		text-decoration: underline;
	}
}
