@use 'sass:color';
@use '../../../node_modules/sass-basis/src/css/core';


.bbp-template-notice {
	display: block;
	border: 1px solid core.dark(#ffffe0);
	border-radius: var(--_global--border-radius);
	background-color: #ffffe0;
	@include core.set-font-size-level(-1);
	padding: var(--_padding-2) var(--_padding-1);

	a {
		color: color.adjust(#ffffe0, $lightness: -70%);
		text-decoration: none;

		@include core.hover() {
			text-decoration: underline;
		}
	}

	&.info {
		border-color: core.dark(#f0f8ff);
		background-color: #f0f8ff;

		a {
			color: color.adjust(#f0f8ff, $lightness: -70%);
		}
	}

	&.important {
		border-color: core.dark(#fffbcc);
		background-color: #fffbcc;

		a {
			color: color.adjust(#fffbcc, $lightness: -70%);
		}
	}

	&.error,
	&.warning {
		border-color: core.dark(#ffebe8);
		background-color: #ffebe8;

		a {
			color: color.adjust(#ffebe8, $lightness: -70%);
		}
	}

	ul {
		@include core.list-unstyled();
	}
}
