.bbp-replies {
  .bbp-header,
  .bbp-footer,
  .bbp-reply-post-date {
    @include _font-size-line-height($_base-font-size-px - 2);
  }

  .bbp-header,
  .bbp-footer {
    .bbp-reply-author {
      @include _media-max(sm) {
        width: 70px;
      }
    }

    .bbp-reply-content {
      @include _media-max(sm) {
        margin-left: 90px;
      }
    }
  }

  .bbp-body {
    .bbp-reply-author {
      @include _margin-top(1);

      @include _media-max(480px) {
        @include _margin(0, .5);
      }

      .avatar {
        margin-top: 0;
      }

      .bbp-author-name {
        margin-top: 5px;
        line-height: 1.4;
      }
    }
  }
}
