@use '../../../node_modules/sass-basis/src/css/core';

.bbp-reply-revision-log {
	@include core.list-unstyled();
	@include core.set-font-size-level(-2);

	a {
		color: var(--wp--preset--color--sm-text);
		text-decoration: none;

		@include core.hover() {
			text-decoration: underline;
		}
	}
}
