.bbp-form {
  @include _content(.5);
  display: block;
  border: none;
  min-width: 0;
  max-width: 100%;
  border: 1px solid _lighter($_color-gray);
  @include _padding(.5);

  @include _media-min(md) {
    @include _padding(1);
  }

  .bbp-form {
    border: none;
    padding: 0;
  }

  > legend {
    margin-bottom: -1em;
    @include _font-size-line-height($_base-font-size-px + 2);
    font-weight: bold;
  }

  > div {
    @include _content(.5);

    > label + * {
      margin-top: 0 !important;
    }
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"],
  [id="description"] {
    @include _form-control();
    width: 100%;
  }

  .bbp-submit-wrapper {
    .button {
      @include snow-monkey-bbpress-support-btn();
    }
  }

  .wp-editor-container {
    .bbp-the-content {
      @include _form-control();
      margin: 0 -1px -1px !important;
      width: calc(100% + 2px) !important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      @include _font-size-line-height($_base-font-size-px - 2);
    }
  }
}
