@use '../../../node_modules/sass-basis/src/css/core';

.bbp-topics {
	.bbp-topic-title {
		> .bbp-row-actions {
			display: none;
		}
	}
	.bbp-author-avatar {
		margin-right: 3px;
	}

	.bbp-body {
		> [class*=loop-item-] {
			&:not(:first-child) {
				border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
			}
		}

		.bbp-topic-permalink {
			font-weight: bold;
		}

		.bbp-topic-content {
			@include core.set-font-size-level(-2);
		}

		.smbbpress-stars-wrapper,
		.bbp-topic-voice-count,
		.bbp-topic-reply-count,
		.bbp-topic-freshness {
			@include core.set-font-size-level(-2);
		}

		.bbp-topic-freshness {
			a {
				color: var(--wp--preset--color--sm-text);
				text-decoration: none;

				@include core.hover() {
					text-decoration: underline;
				}
			}
		}

		.bbp-topic-started-by,
		.bbp-topic-started-in {
			@include core.set-font-size-level(-2);
			display: block;

			a {
				color: var(--wp--preset--color--sm-text);
				text-decoration: none;

				@include core.hover() {
					text-decoration: underline;
				}
			}
		}
	}
}
