@use '../../../node_modules/sass-basis/src/css/core';

[id="bbpress-forums"] {
	> [id="subscription-toggle"],
	> [id="favorite-toggle"] {
		margin: 0;
		display: inline-block;
	}
}

.bbp-forums {
	.bbp-forum-info {
		> * + * {
			margin-top: var(--_margin-2);
		}
	}

	.bbp-body {
		[class*=loop-item-] {
			&:not(:first-child) {
				border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
			}

			.bbp-forum-title {
				font-weight: bold;
			}

			.bbp-forum-content {
				@include core.set-font-size-level(-2);
			}

			.bbp-forum-topic-count,
			.bbp-forum-reply-count,
			.bbp-forum-freshness {
				@include core.set-font-size-level(-2);
			}

			.bbp-forum-freshness {
				a {
					color: var(--wp--preset--color--sm-text);
					text-decoration: none;

					@include core.hover() {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
