.bbp-forum-header,
.bbp-topic-header,
.bbp-reply-header {
	margin-bottom: -1px;
	background-color: var(--wp--preset--color--sm-lightest-gray);
	border-top: 1px solid var(--wp--preset--color--sm-lighter-gray);
	border-bottom: 1px solid var(--wp--preset--color--sm-lighter-gray);

	.bbp-meta {
		@include _clearfix();
		@include _set-font-size-level(-1);

		a {
			color: var(--wp--preset--color--sm-gray);
			text-decoration: none;

			@include _hover() {
				color: var(--wp--preset--color--sm-text);
				text-decoration: underline;
			}
		}

		.bbp-forum-permalink,
		.bbp-topic-permalink,
		.bbp-reply-permalink {
			float: right;
			margin-left: 1em;
			@include _set-font-size-level(-2);
		}

		.bbp-admin-links {
			float: right;
			color: var(--wp--preset--color--sm-light-gray);
			@include _set-font-size-level(-2);

			a {
				margin: 0 2px;
			}
		}
	}
}
