[id="bbpress-forums"] {
  > [id="subscription-toggle"],
  > [id="favorite-toggle"] {
    margin: 0;
    display: inline-block;
  }
}

.bbp-forums {
  .bbp-forum-info,
  .bbp-forum-topic-count,
  .bbp-forum-reply-count,
  .bbp-forum-freshness {
    @include _padding(.25, .15);

    @include _media-min(md) {
      @include _padding(.25, .5);
    }
  }

  .bbp-forum-info {
    @include _row__col--width(41%);

    @include _media-min(md) {
      @include _row__col--width(50%);
    }
  }

  .bbp-forum-topic-count,
  .bbp-forum-reply-count {
    text-align: center;
    @include _row__col--width(17%);

    @include _media-min(md) {
      @include _row__col--width(15%);
    }
  }

  .bbp-forum-freshness {
    @include _row__col--width(25%);

    @include _media-min(md) {
      @include _row__col--width(20%);
    }
  }

  .bbp-body {
    > .#{$_prefix}c-entry {
      @include _padding-top(.25);
      @include _padding-bottom(.25);

      &:not(:first-child) {
        border-top: 1px solid _var-lighter-color-gray();
      }

      .bbp-forum-title {
        font-weight: bold;
      }

      .bbp-forum-content {
        flex-basis: auto;
        max-width: none;
        @include _font-size($_base-font-size-px - 4);
        @include _line-height($_base-font-size-px + 4);
        padding-right: 0;
        padding-left: 0;
      }

      .bbp-forum-topic-count,
      .bbp-forum-reply-count,
      .bbp-forum-freshness {
        @include _font-size($_base-font-size-px - 4);
        @include _line-height($_base-font-size-px + 4);

        @include _media-min(md) {
          @include _font-size($_base-font-size-px - 2);
          @include _line-height($_base-font-size-px + 6);
        }
      }

      .bbp-forum-freshness {
        a {
          color: _var-color-text();
          text-decoration: none;

          @include _hover() {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
