.bbp-reply-revision-log {
	@include _list-unstyled();
	@include _set-font-size-level(-2);

	a {
		color: var(--wp--preset--color--sm-text);
		text-decoration: none;

		@include _hover() {
			text-decoration: underline;
		}
	}
}
