.bbp-replies {
  .bbp-header,
  .bbp-footer {
    .bbp-reply-author,
    .bbp-reply-content {
      @include _padding(.25, .5);
    }

    .bbp-reply-author {
      @include _row__col--width(20%);
    }

    .bbp-reply-content {
      @include _row__col--width(auto);
      @include _row();
      align-items: center;

      /*
      #subscription-toggle,
      #favorite-toggle {
        @include _row__col();
        flex: 0 1 auto;
        margin-left: auto;
      }

      #subscription-toggle {
        @include _clearfix();

        & + #favorite-toggle {
          margin-left: .25rem;
        }
      }
      */
    }
  }
}
