.bbp-body {
  .topic,
  .reply {
    .bbp-reply-content,
    .bbp-topic-content {
      @include _font-size-line-height($_base-font-size-px - 2);
      @include _content(.5);
      @include _padding(1, 1, 1, 0);

      @include _media-max(480px) {
        margin: 0;
        @include _padding(0, .5, .5);
      }

      code {
        background-color: _lighter($_color-gray);
        border: none;
        display: inline;
        font-family: inherit;
        vertical-align: inherit;
        padding: 2px 6px;
      }

      pre {
        margin: 0;
        max-width: none;

        code {
          background-color: transparent;
          line-height: 1.6;
        }
      }
    }
  }
}
