.bbp-body {
  .topic,
  .reply {
    .bbp-reply-content,
    .bbp-topic-content {
      @include _font-size-line-height($_base-font-size-px - 2);
      @include _content(.5);
      @include _padding(1, 1, 1, 0);

      @include _media-max(480px) {
        margin: 0;
        @include _padding(0, .5, .5);
      }

      pre {
        margin: 0;
        max-width: none;

        code {
          line-height: 1.6;
        }
      }
    }
  }
}
