@use '../../../node_modules/sass-basis/src/css/core';

.bbp-forum-author,
.bbp-topic-author,
.bbp-reply-author {
	@include core.set-font-size-level(-2);

	.bbp-author-avatar {
		display: block;
		float: left;
		margin-right: 1em;

		@include core.media-min(md) {
			float: none;
			margin: 0 0 .25em;
		}
	}

	br {
		display: none;
	}
}

.bbp-forum-content,
.bbp-topic-content,
.bbp-reply-content {
	@include core.set-content-level(1);

	> pre {
		background-color: var(--wp--preset--color--sm-lightest-gray);
		padding: var(--_padding1);
	}

	> blockquote {
		border-left: .5rem solid var(--wp--preset--color--sm-lighter-gray);
		padding-left: var(--_padding-1);
	}
}
