.favorite-toggle {
	// float: right;
	@include snow-monkey-bbpress-support-btn();

	// Profile favarite topic list
	.bbp-topic-title & {
		margin-right: var(--_margin-2);
		margin-top: -3px;
		padding: 2px 6px;
	}
}

[id="favorite-toggle"] {
	@include _clearfix();
}
