.favorite-toggle {
  float: right;
  @include snow-monkey-bbpress-support-btn();

  // Profile favarite topic list
  .bbp-topic-title & {
    @include _margin-right(.25);
    margin-top: -3px;
    padding: 2px 6px;
  }
}

[id="favorite-toggle"] {
  @include _clearfix();
}
