.smbbpress-stars {
  outline: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  color: #e64555;
  line-height: 1;

  &__stars {
  }

  &__count {
  }
}

button.smbbpress-stars {
  border: 1px solid _var-lighter-color-gray();
  background-color: _var-lightest-color-gray();
  border-radius: $_border-radius;
  cursor: pointer;
  @include _padding(.25);
}
