.smbbpress-stars {
	outline: 0;
	border: none;
	background-color: transparent;
	padding: 0;
	color: #e64555;
	line-height: 1;

	&__stars {
	}

	&__count {
	}
}

button.smbbpress-stars {
	border: 1px solid var(--wp--preset--color--sm-light-gray);
	background-color: var(--wp--preset--color--sm-lightest-gray);
	border-radius: var(--_global--border-radius);
	cursor: pointer;
	padding: var(--_padding-2);
}
