.smbbpress-stars-wrapper {
	&__button {
		line-height: 1;
	}

	&__users {
		margin-top: var(--_margin-2);
	}
}

.c-entry__header .smbbpress-stars-wrapper {
	margin-bottom: calc(var(--_margin-1) * -1);
}
