@use '../../../node_modules/sass-basis/src/css/core';
@use '../mixin/btn' as *;

.subscription-toggle {
	// float: right; // in single forum
	@include snow-monkey-bbpress-support-btn();

	// Profile subscription topics
	.bbp-topic-title & {
		// float: none;
		margin-right: var(--_margin-2);
		margin-top: -3px;
		padding: 2px 6px;
	}
}

[id="subscription-toggle"] {
	@include core.clearfix();
}
