@use '../mixin/btn' as *;

[id="bbpress-forums"] .submit {
	display: block;
	border: none;
	min-width: 0;
	max-width: 100%;
	padding: 0;

	> legend {
		display: none;
	}

	.button {
		@include snow-monkey-bbpress-support-btn();
	}
}

[id=bbp-your-profile] .submit {
	margin-top: var(--_margin-1);
}
