[id="bbpress-forums"] .submit {
  @include _margin-top(.5);
  display: block;
  border: none;
  min-width: 0;
  max-width: 100%;
  padding: 0;

  > legend {
    display: none;
  }

  .button {
    @include snow-monkey-bbpress-support-btn();
  }
}
