@use '../../../node_modules/sass-basis/src/css/core';
@use '../mixin/btn' as *;

[id="bbp-user-wrapper"] {
	> [id="bbp-user-body"] {
		margin-top: var(--_margin2);
	}
}

[id="bbp-single-user-details"] {
	--_gap: var(--_margin1);
	--_item-width: 100%;

	@include core.row();
	flex-wrap: nowrap;
	margin-right: calc(var(--_gap) * .5 * -1);
	margin-left: calc(var(--_gap) * .5 * -1);
	margin-bottom: calc(var(--_gap) * -1);

	> * {
		padding-right: calc(var(--_gap) * .5);
		padding-left: calc(var(--_gap) * .5);
		margin-bottom: var(--_gap);
		flex: 1 1 var(--_item-width);
		max-width: var(--_item-width);
	}

	> [id="bbp-user-avatar"] {
		--_item-width: 150px;
	}

	> [id="bbp-user-navigation"] {
		--_item-width: auto;

		align-self: flex-end;
	}
}

[id="bbp-user-navigation"] {
	> ul {
		@include core.list-unstyled();
		@include core.clearfix();

		> li {
			margin-right: 5px;
			margin-top: 5px;
			float: left;
			display: inline-block;

			&.current {
				a{
					font-weight: bold;
				}
			}

			a {
				@include snow-monkey-bbpress-support-btn();
			}
		}
	}
}

[id="bbp-user-body"] {
	.entry-title {
		margin-bottom: var(--_margin-1);

		&:not(:first-child) {
			margin-top: var(--_margin1);
		}
	}
}

.bbp-user-section {
	@include core.set-content-level(1);

	.bbp-user-topic-count,
	.bbp-user-reply-count {
		margin-top: 0;
	}
}

.bbp-user-replies-created .bbp-meta .bbp-header {
	border-top: none;
	margin-bottom: var(--_margin-2);
	padding-bottom: var(--_padding-2);
}
