[id="bbp-user-wrapper"] {
  > [id="bbp-user-body"] {
    @include _margin-top(1.5);
  }
}

[id="bbp-single-user-details"] {
  @include _row();
  @include _row--margin(1);
  flex-wrap: nowrap;

  > * {
    @include _row__col();
    @include _row__col--margin(1);
  }

  > [id="bbp-user-avatar"] {
    @include _row__col--width(150px);
    min-width: 150px;
  }

  > [id="bbp-user-navigation"] {
    @include _row__col--width(auto);
    align-self: flex-end;
  }
}

[id="bbp-user-navigation"] {
  > ul {
    @include _list-unstyled();
    @include _clearfix();

    > li {
      margin-right: 5px;
      margin-top: 5px;
      float: left;
      display: inline-block;

      &.current {
        a{
          font-weight: bold;
        }
      }

      a {
        @include snow-monkey-bbpress-support-btn();
      }
    }
  }
}

[id="bbp-user-body"] {
  .entry-title {
    @include _margin-bottom(.5);

    &:not(:first-child) {
      @include _margin-top(1);
    }
  }
}

.bbp-user-section {
  @include _content();

  .bbp-user-topic-count,
  .bbp-user-reply-count {
    margin-top: 0;
  }
}

.bbp-user-replies-created .bbp-meta .bbp-header {
  border-top: none;
  @include _margin-bottom(.25);
  @include _padding-bottom(.25);
}
