$_base-font-size-px: 16px !default;
$_between-lines: (1rem / 2.3) !default;
$_container-max-width: 1280px !default;
$_transition-duration: .2s !default;
$_font-path: false;
$_base-margin-bottom: 1 !default;
$_h2-font-size-scale: 1.5 !default;
$_h2-margin-top: $_base-margin-bottom * 2 !default;
$_h3-margin-top: $_base-margin-bottom * 1.5 !default;
$_h3-margin-bottom: $_base-margin-bottom * .75 !default;
$_h4-margin-bottom: $_base-margin-bottom * .75 !default;

@import '../../node_modules/sass-basis/src/css/basis-core';

@import 'mixin/btn';
@import 'mixin/input-group';
@import 'mixin/widget-list-base';

@import 'layout/base';
@import 'layout/list';
@import 'layout/form';

@import 'components/bbp-author-link';
@import 'components/bbp-breadcrumb';
@import 'components/bbp-pagination';
@import 'components/bbp-forums';
@import 'components/bbp-topics';
@import 'components/bbp-replies';
@import 'components/bbp-search-results';
@import 'components/bbp-header';
@import 'components/bbp-form';
@import 'components/bbp-no-topic';
@import 'components/entry';
@import 'components/submit';
@import 'components/bbp-template-notice';
@import 'components/indicator-hint';
@import 'components/bbp-reply-revision-log';
@import 'components/search-form';
@import 'components/favorite-toggle';
@import 'components/subscription-toggle';
@import 'components/snow-monkey-bbpress-support-my-topic-close-link';
@import 'components/smbbpress-stars';

@import 'pages/profile';

@import 'utility/sticky';
@import 'utility/closed';

@import 'widgets/search';
@import 'widgets/login';
@import 'widgets/stats';
@import 'widgets/replies';
@import 'widgets/topics';
@import 'widgets/forums';
@import 'widgets/views';
