$_base-font-size-px: 16px !default;
$_between-lines: (1rem / 2.3) !default;
$_container-max-width: 1280px !default;
$_transition-duration: .2s !default;
$_font-path: '../../../../themes/snow-monkey/vendor/inc2734/wp-basis/src/assets/packages/sass-basis/src/font' !default;
$_base-margin-bottom: 1 !default;
$_h2-font-size-scale: 1.5 !default;
$_h2-margin-top: $_base-margin-bottom * 2 !default;
$_h3-margin-top: $_base-margin-bottom * 1.5 !default;
$_h3-margin-bottom: $_base-margin-bottom * .75 !default;
$_h4-margin-bottom: $_base-margin-bottom * .75 !default;

@import '../../node_modules/sass-basis/src/css/basis-core';

@import 'mixin/input-group';
@import 'mixin/widget-list-base';

.bbpress .p-trackbacks {
  display: none;
}

.bbp-replies .bbp-author-name {
  font-size: 12px;
}

.status-closed .c-entry__title::before,
.status-closed .bbp-topic-title::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
}
.status-closed .c-entry__title::before {
  margin-right: 2px;
}

#bbpress-forums {
  font-size: 100%;

  div.odd,
  ul.odd {
    background-color: inherit;
  }

  .status-closed,
  .status-closed a {
    color: inherit;
  }

  #bbp-your-profile fieldset {
    border: none;
    padding: 0;
  }

  @import 'components/snow-monkey-bbpress-support-my-topic-close-link';
  @import 'components/subscription-toggle';
  @import 'components/favorite-toggle';
  @import 'components/bbp-topic-freshness-author';
  @import 'components/bbp-forums';
  @import 'components/bbp-form';
  @import 'components/bbp-topics';
  @import 'components/bbp-replies';
  @import 'components/content';
  @import 'components/avatar';
  @import 'components/breadcrumb';
  @import 'components/search-form';
  @import 'components/pagination';
}

@import 'widgets/search';
@import 'widgets/login';
@import 'widgets/stats';
@import 'widgets/replies';
@import 'widgets/topics';
@import 'widgets/forums';
@import 'widgets/views';
